keys.json

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

frontend/coverage

frontend/.next/
frontend/out/

frontend/.DS_Store
frontend/*.pem

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/# local env files
frontend/.env*.local

frontend/.vercel

frontend/*.tsbuildinfo
frontend/next-env.d.ts
.*
!/.gitignore

packages/valory
packages/open_aea
**/__pycache__/
